/*--------------------------------------------------------------
    404 Error / Not-found Page
--------------------------------------------------------------*/

	.error404, .error404 > .wrapper { width:100%; height:100%; }
	.error404 > .wrapper { display: flex; padding: 35px 0 50px; }

	body.error404 div.wrapper{background-blend-mode: multiply;background-color: var(--wdtPrimaryColor) !important;background-image: url(https://housefix.wpengine.com/wp-content/uploads/2023/04/404-bg-image.jpg);background-attachment: inherit;background-position: center center;background-size: cover;background-repeat: no-repeat;}

	.center-content-wrapper { display:table; width:100%; height:100%; }
	.center-content-wrapper .center-content { display:table-cell; width:100%; height:100%; vertical-align:middle; }

	.error404 h1, .error404 h2, .error404 h3, .error404 h4, .error404 h5, .error404 h6 { line-height: 1em; }
	.error404 h2 { font-size: 80px; font-weight: var(--wdtFontWeight_H3);letter-spacing: 10.5px; }
	.error404 h3 { font-size:70px; font-weight:bold; }
	.error404 h4 { font-size: var(--wdtFontSize_H3); font-weight: var(--wdtFontWeight_H3);letter-spacing: 10.5px; }
	.error404 p {font-size: var(--wdtFontSize_H4);color: var(--wdtAccentTxtColor);}
	.error404 .wdt-button, .error404 .wdt-button.type2 { padding: var(--wdtPadding_Btn); display: inline-block; letter-spacing:1.5px; }
	.error404 .type2 #wdt-style-picker ul li::before, .error404 #wdt-style-picker ul li:before { content:none; }
	.error404 .type2 #wdt-style-picker h3, .error404 #wdt-style-picker h3 { letter-spacing:0; text-transform:capitalize; }
	.error404 #wdt-style-picker h2 { top:0; }

	.error-box-inner * { text-align: center; }

	.error404 .menu-links { margin:40px 0; }
	.error404 .menu-links li { display:inline-block; text-transform:uppercase; font-size:16px; padding:0; margin:0 2px 5px; }
	.error404 .menu-links li a { padding:7px 20px; display:inline-block; }

	.error404 #searchform .wdt-search-icon { display:none; }
	.error404 #searchform { display: inline-block; margin: 0 auto; position: relative; width: 60%; }
	.error404 #searchform input[type="text"], .error404 #searchform input[type="submit"] { height:52px; }
    .error404 #searchform input[type="submit"] { border-radius: 0; padding: 13px 20px 13px; position: absolute; right: 0; top: 0; margin-top:0; }

    .error404 .container { height:100%; text-align:center; }

	.error404 h4 {
		font-size: var(--wdtFontSize_H3);
		font-weight: var(--wdtFontWeight_H3);
		text-transform: uppercase;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
	}

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

	.error404 .wdt-dark-bg, .error404 .menu-links li:hover a { background: var(--wdtHeadAltColor); }
	.error404 .menu-links li a { background:rgba(var(--wdtHeadAltColorRgb),0.05); }

	.error404 .wdt-button, .error404 .wdt-button.type2, .error404 .menu-links li:hover a { color: var(--wdtAccentTxtColor); }

	.error404 .wdt-button { background-color: var(--wdtTertiaryColor); }
	.error404 .wdt-button:hover { background-color: var(--wdtSecondaryColor); }

	.error404 .menu-links li a { color: var(--wdtHeadAltColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

	.error404 h2 { color: var(--wdtPrimaryColor); }



/*--------------------------------------------------------------
 Responsive
--------------------------------------------------------------*/

@media only screen and (min-width: 1541px) 
{
	.error-box-inner img{height: 650px;}
}


@media only screen and (max-width: 1540px) 
{
	.error-box-inner img{height: 350px;}
}

/* Common Styles for the devices below 479px width */
@media only screen and (max-width: 479px) {

	.error404 h2 { font-size: var(--wdtFontSize_H1); }
	.error404 h3 { font-size: var(--wdtFontSize_H2); }
	.error404 h4 { font-size: var(--wdtFontSize_H3); }

}