
/*--------------------------------------------------------------*/
    /* #region - Product Listing Style */
/*--------------------------------------------------------------*/

    .woocommerce ul.products.product-style-default:not(.product-padding-content) li.product.product-grid-view .product-details { padding: 20px 30px 20px;}
    .woocommerce ul.products.product-style-default li.product .product-details > div.product-title:first-child > h5 { margin-top: 0;font-size: var(--wdtFontSize_H4);font-weight: var(--wdtFontWeight_H3); }

/* #endregion - Product Listing Style */   