/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/

    #footer {
        width: 100%;
        float: left;
        clear: both;
        margin: 0;
        position: relative;
        z-index: 0;
    }

    #footer .container {
        z-index: 9;
    }

    .footer-widgets {
        clear: both;
        float: left;
        margin: 0;
        padding: 75px 0 35px;
        width: 100%;
    }

    .footer-copyright {
        clear: both;
        float: left;
        margin: 0;
        padding: 30px 0;
        width: 100%;
    }

    .footer-copyright .alignright img {
        float: right;
    }

    .wdt-no-footer-builder-content.footer-copyright {
        position: relative;
    }

    .wdt-no-footer-builder-content.footer-copyright:before {
        content: "";
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        top: 0;
        width: 9999px;
        z-index: -1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .wdt-no-footer-builder-content.footer-copyright>* {
        vertical-align: middle;
    }

    #footer a:not(:focus), .footer-widgets a:not(:focus) { text-decoration: none; }


    #footer .wdt-footer-section .elementor-widget-heading h6.elementor-heading-title
    {
        font-size: var(--wdtFontSize_H6);
        font-weight: var(--wdtFontWeight_H6);
        line-height: var(--wdtFontSize_H6);
        text-transform: uppercase;
        letter-spacing: 3.6px;
    }
    #footer .wdt-footer-section .elementor-widget-heading + .elementor-widget.elementor-list-item-link-full_width a,
    #footer .wdt-footer-section .elementor-widget.elementor-list-item-link-full_width a,
    #footer .wdt-footer-section div.elementor-element:not(.wdt-para-section) > .elementor-widget-container > p,
    #footer .wdt-footer-section .elementor-widget.elementor-list-item-link-full_width span
    {
        font-size: calc(var(--wdtFontSize_Base) - 2px);
        text-transform: uppercase;
        font-weight: var(--wdtFontWeight_H2);
        letter-spacing: 1.4px;
    }
    
    #footer .wdt-copyrights-section .elementor-widget-heading + .elementor-widget.elementor-list-item-link-full_width a,
    #footer .wdt-copyrights-section .elementor-widget.elementor-list-item-link-full_width a,
    #footer .wdt-copyrights-section .elementor-element .elementor-widget-container p,
    #footer .wdt-copyrights-section .elementor-widget.elementor-list-item-link-full_width span
    {
        font-size: calc(var(--wdtFontSize_Base) - 2px);
        text-transform: capitalize;
        font-weight: var(--wdtFontWeight_H3);
        letter-spacing: 0;
    }
    #footer .wdt-copyrights-section .footer-social-icon.elementor-widget.elementor-list-item-link-full_width a,
    #footer .wdt-copyrights-section .footer-social-icon.elementor-widget.elementor-list-item-link-full_width a span
    {
        font-size: var(--wdtFontSize_Base);
        text-transform: uppercase;
        letter-spacing: 3.2px;
    }
    .footer-social-icon .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after
    {
        content: "/" !important;
        border: none !important;
    }

/*--- Colors ---*/

    .wdt-no-footer-builder-content.footer-copyright:before { background-color: rgba(var(--wdtSecondaryColorRgb),0.075); }

    #footer a:not(.button):not(.elementor-button), .footer-widgets a:not(.button):not(.elementor-button) { color: var(--wdtBodyTxtColor); }

    #footer a:not(.button):not(.elementor-button):hover, .footer-widgets a:not(.button):not(.elementor-button):hover { color: var(--wdtLinkHoverColor); }