/*
 Theme Name:   HouzFix Child
 Theme URI:    https://housefix.wpengine.com/
 Description:  HouzFix Child Theme
 Author:       the WeDesignTech team
 Author URI:   https://wedesignthemes.com/
 Template:     housefix
 Version:      1.0.0
 Text Domain:  housefix-child
*/